
@font-face {
	font-family: "zui";
	src: url("../fonts/zui.eot?4987620f113a0ae5000ef0f952a04d77");
	src: url("../fonts/zui.eot?#iefix") format("embedded-opentype"),
		url("../fonts/zui.woff?4987620f113a0ae5000ef0f952a04d77") format("woff"),
		url("../fonts/zui.ttf?4987620f113a0ae5000ef0f952a04d77") format("truetype"),
		url("../fonts/zui.svg?4987620f113a0ae5000ef0f952a04d77#zui") format("svg");
	font-weight: normal;
	font-style: normal;
}

.zui-icon {
	font-family: "zui";
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	font-weight: normal;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	text-transform: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


// Icons

.zui-icon-arrow-down:before {
	content: "\f101";
}

.zui-icon-arrow-left:before {
	content: "\f102";
}

.zui-icon-arrow-right:before {
	content: "\f103";
}

.zui-icon-arrow-up:before {
	content: "\f104";
}

.zui-icon-bookmark:before {
	content: "\f105";
}

.zui-icon-bug:before {
	content: "\f106";
}

.zui-icon-calendar:before {
	content: "\f107";
}

.zui-icon-ccw:before {
	content: "\f108";
}

.zui-icon-check:before {
	content: "\f109";
}

.zui-icon-code:before {
	content: "\f10a";
}

.zui-icon-cw:before {
	content: "\f10b";
}

.zui-icon-danger:before {
	content: "\f10c";
}

.zui-icon-download:before {
	content: "\f10d";
}

.zui-icon-female:before {
	content: "\f10e";
}

.zui-icon-gear:before {
	content: "\f10f";
}

.zui-icon-gift:before {
	content: "\f110";
}

.zui-icon-git-branch:before {
	content: "\f111";
}

.zui-icon-git-commit:before {
	content: "\f112";
}

.zui-icon-git-compare:before {
	content: "\f113";
}

.zui-icon-git-merge:before {
	content: "\f114";
}

.zui-icon-git-pull-request:before {
	content: "\f115";
}

.zui-icon-globe:before {
	content: "\f116";
}

.zui-icon-heart:before {
	content: "\f117";
}

.zui-icon-info:before {
	content: "\f118";
}

.zui-icon-light-bulb:before {
	content: "\f119";
}

.zui-icon-male:before {
	content: "\f11a";
}

.zui-icon-mention:before {
	content: "\f11b";
}

.zui-icon-monitor:before {
	content: "\f11c";
}

.zui-icon-mortar-board:before {
	content: "\f11d";
}

.zui-icon-organization:before {
	content: "\f11e";
}

.zui-icon-person:before {
	content: "\f11f";
}

.zui-icon-plus:before {
	content: "\f120";
}

.zui-icon-pulse:before {
	content: "\f121";
}

.zui-icon-puzzle:before {
	content: "\f122";
}

.zui-icon-question:before {
	content: "\f123";
}

.zui-icon-radio-tower:before {
	content: "\f124";
}

.zui-icon-refresh:before {
	content: "\f125";
}

.zui-icon-repo-forked:before {
	content: "\f126";
}

.zui-icon-results:before {
	content: "\f127";
}

.zui-icon-rocket:before {
	content: "\f128";
}

.zui-icon-rss:before {
	content: "\f129";
}

.zui-icon-sort-asc:before {
	content: "\f12a";
}

.zui-icon-sort-desc:before {
	content: "\f12b";
}

.zui-icon-star:before {
	content: "\f12c";
}

.zui-icon-tags:before {
	content: "\f12d";
}

.zui-icon-thumbnails:before {
	content: "\f12e";
}

.zui-icon-upload:before {
	content: "\f12f";
}

.zui-icon-warning:before {
	content: "\f130";
}

.zui-icon-x:before {
	content: "\f131";
}
